@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  transition: background-color 2s, color 2s;
}

body {
  transition: background-color 2s, color 2s;
}
a, button{
  @apply transition-all duration-300 ease-in-out
}

.app-container{
  @apply max-w-[1300px] mx-auto px-10
}

.nav-item {
  @apply px-4 py-1 rounded-lg text-dark-blue dark:text-apple-green hover:bg-dark-blue/10 dark:hover:bg-white/10
}